OPENWEATHER_API_KEY=
HOPSWORKS_API_KEY=
HOPSWORKS_HOST=c.app.hopsworks.ai
FEATURESTORE_NAME=aqi_islamabad_featurestore
FEATUREGROUP_NAME=isb_aqi_history
FG_VERSION=10
MODEL_REGISTRY_NAME=isb_aqi_model
LATITUDE=33.6995
LONGITUDE=73.0363
CITY_NAME=Islamabad
BACKFILL_DAYS=365
